<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.atstudy.advistory.article.dao.mapper.ArticleDTOMapper" >
    <!-- 字段与实体的映射 -->
    <resultMap id="BaseResultMap" type="top.atstudy.advistory.article.dao.dto.ArticleDTO">
        <id column="article_id" property="articleId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 根据条件查询，全部 -->
    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from article_info where article_id = #{articleId}
    </select>

    <insert id="insert" parameterType="top.atstudy.advistory.article.dao.dto.ArticleDTO">
        INSERT into article(title) values(#{title})
    </insert>

</mapper>