<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.atstudy.advistory.advistory.dao.mapper.AdvistoryDetailDTOMapper">
  <resultMap id="BaseResultMap" type="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTO">
    <id column="advistory_detail_id" jdbcType="BIGINT" property="advistoryDetailId" />
    <result column="advistory_id" jdbcType="BIGINT" property="advistoryId" />
    <result column="advistory_detail_type" jdbcType="VARCHAR" property="advistoryDetailType" typeHandler="top.atstudy.component.enums.StringCodeEnumTypeHandler"/>
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" typeHandler="top.atstudy.component.enums.NumberCodeEnumTypeHandler"/>
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    advistory_detail_id, advistory_id, advistory_detail_type, content, background, link, 
    display_order, version, deleted, create_user_id, create_user_name, create_time, update_user_id, 
    update_user_name, update_time, last_update
  </sql>
  <select id="selectByExample" parameterType="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from advistory_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from advistory_detail
    where advistory_detail_id = #{advistoryDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from advistory_detail
    where advistory_detail_id = #{advistoryDetailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTOExample">
    delete from advistory_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTO">
    <selectKey keyProperty="advistoryDetailId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into advistory_detail (advistory_id, advistory_detail_type, 
      content, background, link, 
      display_order, version, deleted, 
      create_user_id, create_user_name, create_time, 
      update_user_id, update_user_name, update_time, 
      last_update)
    values (#{advistoryId,jdbcType=BIGINT}, #{advistoryDetailType,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{background,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{displayOrder,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{createUserId,jdbcType=BIGINT}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{lastUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTO">
    <selectKey keyProperty="advistoryDetailId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into advistory_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="advistoryId != null">
        advistory_id,
      </if>
      <if test="advistoryDetailType != null">
        advistory_detail_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="background != null">
        background,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="advistoryId != null">
        #{advistoryId,jdbcType=BIGINT},
      </if>
      <if test="advistoryDetailType != null">
        #{advistoryDetailType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        #{background,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTOExample" resultType="java.lang.Long">
    select count(*) from advistory_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update advistory_detail
    <set>
      <if test="record.advistoryDetailId != null">
        advistory_detail_id = #{record.advistoryDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.advistoryId != null">
        advistory_id = #{record.advistoryId,jdbcType=BIGINT},
      </if>
      <if test="record.advistoryDetailType != null">
        advistory_detail_type = #{record.advistoryDetailType,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.background != null">
        background = #{record.background,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.displayOrder != null">
        display_order = #{record.displayOrder,jdbcType=INTEGER},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=BIGINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      </if>
      <if test="record.updateUserName != null">
        update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdate != null">
        last_update = #{record.lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update advistory_detail
    set advistory_detail_id = #{record.advistoryDetailId,jdbcType=BIGINT},
      advistory_id = #{record.advistoryId,jdbcType=BIGINT},
      advistory_detail_type = #{record.advistoryDetailType,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      background = #{record.background,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      display_order = #{record.displayOrder,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      deleted = #{record.deleted,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=BIGINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=BIGINT},
      update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      last_update = #{record.lastUpdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTO">
    update advistory_detail
    <set>
      <if test="advistoryId != null">
        advistory_id = #{advistoryId,jdbcType=BIGINT},
      </if>
      <if test="advistoryDetailType != null">
        advistory_detail_type = #{advistoryDetailType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where advistory_detail_id = #{advistoryDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.atstudy.advistory.advistory.dao.dto.AdvistoryDetailDTO">
    update advistory_detail
    set advistory_id = #{advistoryId,jdbcType=BIGINT},
      advistory_detail_type = #{advistoryDetailType,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      background = #{background,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where advistory_detail_id = #{advistoryDetailId,jdbcType=BIGINT}
  </update>
</mapper>